[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqt6 = "*"
qscintilla = "*"
pyqt6-qscintilla = "*"
qtconsole = "*"

[dev-packages]

[requires]
python_version = "3.13"
